
input,
select,
textarea {
	font-size: 16px;
	color: rgb(80, 79, 79);
	border: none;
	border-bottom: 2px solid rgb(80, 79, 79);
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
	background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
	color: rgb(80, 79, 79);
	border-color: #4ac4b3;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
	color: rgb(80, 79, 79);
	transition: 0.3s;
}

input:focus::placeholder,
textarea:focus::placeholder,
select:focus::placeholder {
	color: #4ac4b3;
}

/* Button style */

button, .button {
	background-color: #4ac4b3;
	border: none;
	border-radius: 2px;
	padding: 12px 18px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	color: var(--tekstColor);
	outline: none;
	transition: 0.3s;
}

.button {
	width: max-content;
}

button:hover, .button:hover {
	background-color: var(--lightPrimaryColor);
}